**/.DS_Store
/dataiku/python_scripts/table_metrics_compare/report/allure-results
/dataiku/python_scripts/venv
/.mypy_cache
**/__pycache__
dataiku/python_scripts/s3_hms_compare/baseline_s3.csv
/dataiku/python_scripts/s3_hms_compare/report
dataiku/python_scripts/s3_locations_list/s3_locations.csv
/dataiku/python_scripts/verify_hms_availability/report
dataiku/python_scripts/s3_hms_compare/PZ_baseline_s3.csv
dataiku/python_scripts/s3_locations_list/PZ_s3_locations_FLIGHT_DB.csv
